@model registration.Models.UserModel

@{
    ViewData["Title"] = "User Registration";
}

<h4>Add User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="User" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="text" class="form-group" name="fname" placeholder="First Name" />
                <input type="text" class="form-group" name="lname" placeholder="Last Name" />
                <input type="email" class="form-group" name="emailadd" placeholder="Email Address" />
                <input type="tel" class="form-group" name="contact" placeholder="Contact Number" />
                <input type="text" class="form-group" name="street" placeholder="St Address" />
                <input type="text" class="form-group" name="city" placeholder="City" />
                <input type="text" class="form-group" name="zip" placeholder="Zip Code" />
                <br />
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
